@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-dark text-white;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #DC2626 #1A1A1A;
  }

  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #1A1A1A;
  }

  *::-webkit-scrollbar-thumb {
    background: #DC2626;
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #991B1B;
  }
}
